/*--------------------*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@font-face {
	font-family: 'CalSans';
	src: url('../fonts/CalSans-SemiBold.eot');
	src: local('☺'), url('../fonts/CalSans-SemiBold.woff') format('woff'), url('../fonts/CalSans-SemiBold.ttf') format('truetype'), url('../fonts/CalSans-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.eot');
	src: local('☺'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype'), url('../fonts/Poppins-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.eot');
	src: local('☺'), url('../fonts/Poppins-Medium.woff') format('woff'), url('../fonts/Poppins-Medium.ttf') format('truetype'), url('../fonts/Poppins-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

html, body{
	height: 100%;
	min-width: 320px;
}



.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
	
}


[class*="__center-title"]{
	font-family: 'CalSans';
	font-weight: 600;
	font-size: 44px;
	line-height: 1.2;
	color: rgba(18, 18, 18, 1);
	text-align: center;
}

[class*="__center-title"] span {

	color: rgba(255, 100, 40, 1);
}

@media (max-width: 1092px){
	[class*="__center-title"]{
		font-size: 38px;
	}
}

@media (max-width: 768px){
	[class*="__center-title"]{
		font-size: 32px;
	}
}

@media (max-width: 450px){
	[class*="__center-title"]{
		font-size: 28px;
	}
}





/*------------header------------*/

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.header__container{
	display: flex;
	min-height: 152px;
	align-items: center;
}

.menu__list{
	display: flex;
	flex-wrap: wrap;

}

.menu__list li:not(:first-child){
	padding-left: 56px;
}

.menu{
	margin-left: 131px;
}

.menu__link{
	font-family: 'Poppins-Medium';
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: rgba(18, 18, 18, 0.4);
}



@media (max-width: 1092px) {

	.header__container{
		min-height: 100px;
	}

	.menu{
		margin-left: 50px;
	}

	.menu__list li:not(:first-child){
		padding-left: 26px;
	}
	
}

@media (max-width: 450px) {
	.header__logo{
		flex: 0 0 28px;
		overflow: hidden;
	}
}
/*СДЕЛАТЬ HOVER ДЛЯ ССЫЛОК*/

/*-------------page_main-----------*/

.main__container{
	display: flex;
	
}

.main__content{		
	flex: 0 1 54%;
	margin: 153px 0px 23px 0px ;
	align-self: center;
	padding-top: 15px;
	padding-right: 20px;

}

.main__title{
	font-family: 'CalSans';
	font-weight: 600;
	font-size: 56px;
	line-height: 1.2;
	color: rgba(18, 18, 18, 1);


}

.main__title span{
	color: rgba(255, 100, 40, 1);
}

.main__text{
	font-family: 'Poppins-Medium';
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(102, 102, 102, 1);
	max-width: 398px;
	padding: 34px 0px;
}

.main__actions{
	display: flex;
	flex-direction: row;
}


.actions__button{
	text-align: center;
	background-color: rgba(255, 100, 40, 1);
	color: rgba(255, 255, 255, 1);
	padding: 18px 48px;
	border-radius: 40px;
	margin-right: 12px;
	font-weight: 600;
	line-height: 24px;
	font-size: 16px;
}

.actions__icon{
	padding-left: 28px;
}

.icon-google{
	padding-top: 14px;
}

.icon-apple{
	padding-top: 10px;
}

.main__picture{
	flex: 0 1 46%;
	
}

.main__image{
	margin-right: -120px;
	position: relative;
	max-width: 672px;
	padding-bottom: 106.1%;
}

.main__image::after{
	position: absolute;
	content: "";
	height: 80px;
	width: 80px;
	background: url('../image/main/main_picture_decor.svg');
	right: 36.3%;
	bottom: 0;
	transform: translate(0,50%);
}

.main__image img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 0 0 160px 375px;
	object-fit: cover;
}


@media (max-width: 1092px) {

	.main__content{		
		margin-top: 100px ;
		flex: 0 1 60%;
	}	

	.main__picture{
		flex: 0 1 40%;
	}

	.main__image img{
		width: 100%;
	}

	.main__text{
		padding: 15px 0px 25px 0px;
	}

}

@media (max-width: 768px) {

	 .main__picture{
	 	display: none;
	 }

	 .main__content {
	 	flex: 1 1 100%;
	 	padding: 0px 0px 0px 0px;
	 }
}

@media (max-width: 450px) {

	.main__title{
		font-size: 45px;
	}

	.main__actions{
		flex-wrap: wrap;
		justify-content: center;
	}

	.actions__button{
		flex: 1 1 100%;
		margin: 0 auto;
	}

	.actions__icon{
		margin-top: 10px;
	}
}
	
/*--------------Store-------------*/


.store{
	margin-top: 172px;
}

.text{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 100px;
	align-items: center;
}
 

.text-left{
	font-family: 'Poppins-SemiBold';
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	color: rgba(18, 18, 18, 1);
}

.text-right{
	font-family: 'Poppins-Medium';
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	color: rgba(134, 134, 134, 1);
}

.content{
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	gap: 54px;
}

.product{
	display: grid;
	margin-top: 40px;
}

.product__image img{
	max-width: 100%;
}

.product__name{
	justify-self: start;
	margin: 40px 0px 13px 0px;
	font-family: 'Poppins-Medium';
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color :rgba(18, 18, 18, 1) ;
}

.product__price{
	justify-self: start;
	font-family: 'Poppins-Medium';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(102, 102, 102, 1);
}

@media (max-width: 768px){
	.content{
		grid-template-columns:repeat(2, 1fr);
		gap: 34px;
	}
	.store{
		margin-top: 70px;
	}
	.text{
		margin-top: 50px;
	}
	.product__name{
		margin-top: 20px;
	}
	.product{
		margin-top: 20px;
	}

}
@media (max-width: 450px){
	.content{
		grid-template-columns:repeat(1, 1fr);
		gap: 24px;
	}
	.store{
		margin-top: 60px;
	}
	.text{
		margin-top: 40px;
	}
	.product__name{
		margin-top: 10px;
	}
	.product{
		margin-top: 10px;
	}


}
/*---------------Categories--------------*/

.categories__container h2{
	margin: 191px 0px 80px 0px;
}

.categories__guitars{
	display: grid;
	grid-template-columns: repeat(4,1fr );
	gap: 69px;
	padding-left: 55px;
	padding-right: 55px;
}


.guitars__item{
	position: relative;
}

.guitars__title{
	font-family: 'Poppins-SemiBold';
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	padding: 30px 15px;
	z-index: 2;
}


.guitars__image{
	position: relative;
	overflow: hidden;
	padding-bottom: 127%;
	border-radius: 25px;
}

.guitars__image img{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media (max-width: 1092px){
	.categories__container h2{
		margin: 100px 0px 50px 0px;
	}
	.categories__guitars{
		gap: 50px;
		padding-left: 45px;
		padding-right: 45px;	
	}
}
@media (max-width: 768px){
	.categories__guitars{
		grid-template-columns: repeat(3,1fr);
		gap: 35px;
		padding-left: 35px;
		padding-right: 35px;
	}
	.categories__container h2{
		margin: 80px 0px 35px 0px;
	}
	.guitars__title{
		font-size: 16px;
		padding: 20px 10px;
	}
}
@media (max-width: 450px){
		.categories__guitars{
		grid-template-columns: repeat(2,1fr);
		gap: 25px;
		padding-left: 25px;
		padding-right: 25px;
	}
		.categories__container h2{
		margin: 50px 0px 25px 0px;
	}
		.guitars__title{
		font-size: 14px;
		padding: 15px 7.5px;
	}
}	

/*------------------Brands-------------------*/

.brands__container h2{
	margin: 234px 0px 96px 0px;
}

.brands__container{
	padding-bottom: 200px;
}

.brands__best{
	display: grid;
	grid-template-columns: repeat(4,auto);
	justify-content: space-between;
	padding-left: 89px;
	padding-right: 89px;
	align-items: center;
	align-self: center;
	row-gap: 94px;
}
.best__item{
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
}

.best__item img:hover{
	transform: scale(1.1, 1.1);
	border: 2px solid transparent;
	border-image: linear-gradient(to left top, rgba(255, 100, 40, 1)10%,  transparent 30%, transparent 70%, rgba(18, 18, 18, 1) 90%);
	border-image-slice: 1;
}


@media (max-width: 1092px){
	.brands__container h2{
		margin: 170px 0px 76px 0px;
	}
	.brands__best{
		grid-template-columns: repeat(3,auto);
		padding-left: 59px;
		padding-right: 59px;
		row-gap: 74px;
	}
	.brands__container{
	padding-bottom: 150px;
	}	
}

@media (max-width: 768px){
	.brands__container h2{
		margin: 120px 0px 56px 0px;
	}
	.brands__best{
		grid-template-columns: repeat(2,auto);
		justify-content: space-around;
		padding-left: 29px;
		padding-right: 29px;
		row-gap: 54px;
	}
	.brands__container{
	padding-bottom: 110px;
	}
}

@media (max-width: 450px){
	.brands__container h2{
		margin: 90px 0px 36px 0px;
	}
	.brands__best{

		padding-left: 19px;
		padding-right: 19px;
		row-gap: 34px;
	}
	.brands__container{
	padding-bottom: 90px;
	}
}

/*---------------Why----------------*/

.page__why{
	background-color: rgba(18, 18, 18, 1);
}

.why__container h2{
	padding: 105px 0px 75px 0px;
}

.why__center-title{
	color: rgba(255, 255, 255, 1);
}

.why__strengths{
	padding-bottom: 94px;
	display: grid;
	grid-template-columns: repeat(3,auto);
	padding: 0px 35px 94px 35px;
	justify-content:space-between;
	row-gap: 70px;


}

.strengths__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:  0px 10px;	
	
}

.item__image{
	background: rgba(38, 38, 38, 1);
	height: 72px;
	width: 72px;
	border-radius: 20px;
	display: flex;
	justify-content:center;
	align-items: center;
}

.item__name:hover{
	transform: scale(1.2, 1.2);
}

.item__name{
	padding: 40px 0px 15px 0px;
	text-align: center;
	font-family: 'Poppins-SemiBold';
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	color: rgba(255, 255, 255, 1);
}

.item__description{
	font-family: 'Poppins-Medium';
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	color: rgba(102, 102, 102, 1);
	max-width: 230px;
}

@media (max-width: 1092px){
	.why__container h2{
	padding: 95px 0px 65px 0px;
	}	
}

@media (max-width: 768px){
	.why__strengths{
		grid-template-columns: repeat(2,auto);
		padding-bottom: 64px;
		row-gap: 50px;
		justify-content:space-around;
		padding-bottom: 74px;
	}
	.item__name{
		padding: 30px 0px 10px 0px;	
	}
		.why__container h2{
	padding: 75px 0px 55px 0px;
	}	
}

@media (max-width: 450px){
	.why__strengths{
		grid-template-columns: repeat(1,auto);
		padding-bottom: 44px;
		row-gap: 30px;
		justify-content:center;
		padding-bottom: 54px;
	}
	.item__name{
		padding: 20px 0px 10px 0px;	
	}
	.why__container h2{
	padding: 55px 0px 35px 0px;
	}	
}

/*---------------Swiper_opinion------------*/

.page__opinion{
	margin-top: 252px;
}

.opinion__swiper{
	margin-top: 109px;
}

.swiper-opinion__slide{
	display: flex;
}
.slide-opinion__image{
	overflow: hidden;
	display: flex;
	flex: 0 0 50%;
	justify-content: center;
	align-items: center;


}

.image-item__photo{
	position: relative;
	width: 330px;
	height: 330px;
	margin-left: 83px;
}

.image-item__photo img{
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.image-item__photo::before{
	content: "";
	position: absolute;
	width:285px;
	height: 257px;
	top: 50px;left: -80px;
	transform: rotate(-10deg);
	background-color: #FF6428;
	border-radius: 40px 0px 400px 400px;
}


.slide-opinion__body{
	flex: 0 0 50%;
	margin-left: 50px;
	margin-top: 30px;
}

.body-item__text{
	max-width: 524px;
}

.body-item__text p{
	font-family: 'Poppins-Medium';
	font-size: 24px;
	font-weight: 400;
	line-height: 1.58;
	text-align: left;
	color: rgba(102, 102, 102, 1);
}


.information__name{
	font-family: 'Poppins-SemiBold';
	font-size: 24px;
	font-weight: 600;
	line-height: 1.58;
	text-align: left;
	color: rgba(0, 0, 0, 1);
	margin: 66px 0px 14px 0px;
}

.information__position{
	font-family: 'Poppins-Medium';
	font-size: 18px;
	font-weight: 500;
	line-height: 1.58;
	text-align: left;
	color: rgba(134, 134, 134, 1);
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.swiper-opinion__pagination {
	display: flex;
	justify-content: flex-end;
}

.swiper-opinion__pagination
.swiper-pagination-bullet{
	background: rgba(196, 196, 196, 1);
	border-radius: 20px;
	width: 10px;
	height: 16px;
	transition: all 0.2s ease 0s;
}

.swiper-opinion__pagination
.swiper-pagination-bullet-active{
	background: rgba(255, 100, 40, 1);
	width: 24px;	
}

@media (max-width: 1152px){
	.image-item__photo{
		width: 300px;
		height: 300px;
		margin-left: 0px;
	}
	.image-item__photo::before{

		width:235px;
		height: 207px;
		left: -60px;
	}


	.slide-opinion__body{
		flex: 0 0 50%;
		margin-left: 30px;
	}
	.body-item__text{
		max-width: 424px;
	}
	.page__opinion{
		margin-top: 202px;
	}


}

@media (max-width: 931px){
	.slide-opinion__image{
		flex: 0 0 40%;
	}
	.slide-opinion__body{
		flex: 0 0 60%;
	}
	.body-item__text{
		max-width: 384px;
	}
	.image-item__photo{
		width: 250px;
		height: 250px;
	
	}
	.image-item__photo::before{
		width:250px;
		height: 300px;
		top: -25px;left: 0px;
		transform: rotate(0deg);
		border-radius: 20px;
	}
	.page__opinion{
		margin-top: 152px;
	}
	
}

@media (max-width: 713px){
	.swiper-opinion__slide{
		flex-direction: column;
	}

	.body-item__text p{
	
		font-size: 20px;

		text-align: center;

	}
	.slide-opinion__body{
		flex: 0 0 50%;
		padding-top: 30px;
		margin: 5px;
	}

	.body-item__text{
		max-width: 100%;
	}
	.opinion__swiper{
		margin-top: 49px;
	}
	.information__name{
		
		font-size: 22px;

		margin-top: 36px;
	}
	.image-item__photo::before{		
		width: 197px;
		height: 184px;
		top: 50px;left: -50px;
		transform: rotate(-10deg);
		border-radius: 40px 0px 400px 400px;
	}
	.page__opinion{
		margin-top: 130px;
	}
}

@media (max-width: 420px){
	.image-item__photo{
		width: 250px;
		height: 250px;
	}
	.image-item__photo::before{
		width:250px;
		height: 250px;
		top: 0px;left: 0px;
		transform: rotate(0deg);
		border-radius: 20px;
	}
	.information__name{
		text-align: center;
	}
	.information__position{
		text-align: center;	
	}
	.swiper-opinion__pagination {
		justify-content: center;
	}
	.swiper-opinion__wrapper{
		padding-bottom: 40px;
	}
		.page__opinion{
		margin-top: 80px;
	}

}

/*---------------Favorite--------------*/

.favorite__container{
	display: flex;
	margin-top: 78px;
	padding: 0px 14px;
	padding-top: 162px;
	padding-bottom: 86px;
	overflow: hidden;
	min-height: 533px;
}

.favorite__title{
	display: flex;
	flex-direction: column;
 	flex: 0 0 50%;
 	padding: 132px 0px 132px 0px;
}

.favorite__title-link a:last-child{
	margin-left: 25.65px;
}


.favorite__title h2{
	font-family: 'CalSans';
	font-size: 48px;
	font-weight: 600;
	line-height: 1.39;
	color: rgba(0, 0, 0, 1);
	padding-bottom: 60px;
}

.favorite__title span{
	color: rgba(255, 100, 40, 1);
}

.favorite__title-link{
	display: flex;
}

.favorite__images{
	display: flex;
	flex: 0 0 50%;
	flex-direction: row;
	justify-content: space-evenly;
	position: relative;

}

.favorite__images::before{
	content: "";
	position: absolute;
	background:rgba(255, 100, 40, 1) ;
	border-radius: 50%;
	width: 568px;
	height: 354px;
	top: 89.5px;
	
}


.item-first{
	position: relative;
	width: 213px;
	height: 461px;
	top: 0;
	left: 7px;	
}

.item-first img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	
}

.item-second{
	position: relative;
	width: 213px;
	height: 461px;
	top: 72px;
	left: -20px;
}

.item-second img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.images__items{
	border-radius: 20px;
	
}

.images__items img{
	border-radius: 16px;
}


@media (max-width: 1092px){
	.favorite__title{
		
 		flex: 0 0 40%;
 	
	}
	.favorite__images{
		
 		flex: 0 0 60%;
 	
	}
	.item-second{

		left: -17px;
	}
	.favorite__container{
		margin-top: 58px;
	}


}

@media (max-width: 977px){

	.favorite__container{
		padding-top: 82px;
		padding-bottom: 36px;
		margin-top: 38px;
	}

	.favorite__images::before{
		border-radius: 50%;
		width: 428px;
		height: 224px;
		right: 10px;
	
	}


	.item-first{
		position: relative;
		width: 150px;
		height: 361px;

	}	
	.item-second{
		position: relative;
		width: 150px;
		height: 361px;
		top: 30px;
		left: -13px;

	}
	.favorite__title h2{
		font-size: 38px;
	}
	.favorite__title-link{
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

	.favorite__title-link a:not(:first-child){
    	margin-left: 0px;
    	margin-top: 30px;
	}
	.favorite__title{
 		padding-top: 32px;
 		padding-left: 50px;
 	}
 	.favorite__title{
		
 		flex: 0 0 50%;
 	
	}
	.favorite__images{
		
 		flex: 0 0 50%;
 	
	}

}

@media (max-width: 812px){
	.favorite__container{
		display: flex;
		flex-direction: column;
		margin-top: 28px;
		padding-top: 52px;
		padding-bottom: 46px;

	}
	.favorite__title{
		padding-left: 0px;
		padding-bottom: 30px;
	}
	.favorite__title-link{
		flex-direction: row;
		padding-top: 0px;
		flex-wrap: wrap;
		justify-content: space-evenly;
 	
	}
	
	.favorite__title h2{
		font-size: 34px;
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
	}
	.favorite__images{
		flex: 1 1 100%;
	}

	.favorite__images::before{
		
		width: 90%;
		top: 84px;
		left: 5%;
		border-radius: 40px 100px;
		background: linear-gradient(90deg, rgba(255,100,40,1) 0% ,
											rgba(255,255,255,1) 50%,
										 	rgba(255,100,40,1) 100%);
	}

	.favorite__title-link a:not(:first-child) {
    	margin-top: 0px;
	}

	.favorite__title-link a{
		padding: 0px 8px
	}


	.images__items{
		
		border: 5px solid rgba(0, 0, 0, 1);
	}
}

@media (max-width: 424px){
	.favorite__container{
		margin-top: 10px;
		padding-top: 22px;
		padding-bottom: 26px;

	}
	.favorite__title h2{
		font-size: 28px;
		padding-left: 0px;
		padding-right: 0px;

	}

	.favorite__title-link{
		justify-content: center;
		flex-wrap: wrap;
	}

	.favorite__title-link a{

	}


	.favorite__title-link a:not(:first-child) {
    	margin-top: 20px;

	}

	.favorite__images{

		flex-direction: column;
		align-items: center;

	}
	.item-first{
		position: relative;
		width: 200px;
		height: 361px;
		top: 0;
		left: 0;

	}	
	.item-second{
		position: relative;
		width: 200px;
		height: 361px;
		top: 20px;
		left: 0;

	}
	.favorite__images::before{
		
		width: 80%;
		height: 80%;
		top: 84px;
		left: 10%;
		border-radius: 400px 100px;
		background: linear-gradient(180deg, 	rgba(255,100,40,1) 11% ,
											rgba(255,255,255,1) 50%,
										 	rgba(0,0,0,1) 91%);
	}	
}

/*-------------Footer-------------*/

.information{

}

.footer{
	background: rgba(238, 238, 238, 1);
}

.footer__container{
	display: flex;
	flex-direction: column;
	padding-bottom: 43px;
}

.footer__information{
	padding: 80px 38px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer__name{
	text-align: center;
	font-family: 'Poppins-Medium';
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625px;
	color: rgba(18, 18, 18, 0.6);

}

[class*="information__"] h3{
	font-family: 'Poppins-SemiBold';
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	color: rgba(18, 18, 18, 1);
}
[class*="information__"] a {
	font-family: 'Poppins-Medium';
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
	color: rgba(102, 102, 102, 1);

}

.information__page-product{
	display: flex;
	padding-left: 92px;
}
.information__page,
.information__product{
	display: flex;
	flex-direction: column;
	align-items: left;
}

.information__page h3,
.information__product h3{
	margin-bottom: 20px;
}

.information__page a,
.information__product a{
	margin-bottom: 16px;
}

.information__product{
	margin-left: 126px;
}

.information__about-email{
	padding: 28px 0px 20px 0px;
}

.information__about-location img,
.information__about-email img{
	margin-right: 20px;
}

.information__follow-us__images{
	padding-top: 17px;
}
.information__follow-us__images img:not(:first-child){
	margin-left: 31px;
}

@media (max-width: 1092px) {
	.footer__information{
		padding: 70px 28px;
	}
	.information__page-product{
		padding-left: 42px;
	}
	.information__product{
		margin-left: 70px;
	}	
}

@media (max-width: 768px) {
	.footer__information{
		padding: 50px 28px;
		justify-content: center;
	}
	.information__page-product{
		padding-left: 40px;
		padding-right: 20px;
	}
	.information__product{
		margin-left: 30px;
	}	
	.information__about{
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.information__page,
	.information__product{
		align-items: center;
		text-align: center;
	}
	.information__follow-us{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}
